.letras{

    font: 400% serif;
    color:rgba(0,0,0,0.6);

}
.contlogin{

    background: rgba(255,255,255,0.3);
    

}
.link{

	font:bold 120% serif;
	text-decoration: none;
    color: rgba(0,0,0,0.6);
	transition:background 1s;
}
.link:hover{

	color:rgba(129, 129, 129, 0.4);

}
