<app-navegacion></app-navegacion>
<div class="container-fluid">
  <div class="row" style="height:100px; ">

  </div>
  <div class="row justify-content-center">
    <h6 class="letras">Nueva Publicaciòn</h6>
  </div>
  <div class="row justify-content-center" >
    <div class="col-5 contlogin" >
      <div class="row justify-content-center pb-3 pt-5">
        <div class="col-5">
          <input class="form-control" id="version" type="text"  placeholder="Versiòn" [(ngModel)]="number.ver">
        </div>
      </div>    
      <div class="row justify-content-center pb-4">
        <div class="col-10">
          <textarea class="form-control" id="resumen" rows="5" placeholder="Resumen" [(ngModel)]="detallepublicacion.resumen"></textarea>
        </div>
      </div> 
      <div class="row justify-content-center pb-4">
        <a class="link"(click)="saveNewDetalle()" routerLink="/actualizar">Publicar</a>
      </div>    
    </div>
    
  </div>
  <div class="row" style="height:200px;">
  </div>
</div>

  