<app-navegacion></app-navegacion>
<div class="container-fluid">
  <div class="row" style="height:100px; ">
    <a class="text-hide"  routerLink="/"></a>
  </div>
  <div class="row justify-content-center">
    <h6 class="letras">Actualizar</h6>
  </div>
  <div class="row justify-content-center" >
    <div class="col-5 contlogin" >
      <div class="row justify-content-center pb-5 pt-5">
        <div class="col-10">
          <textarea class="form-control" id="resumen" rows="5" placeholder="Resumen"></textarea>
        </div>
      </div>    
      <div class="row justify-content-center pb-4">
        <div class="col-10">
          <textarea class="form-control" id="contenido" rows="5" placeholder="Contenido"></textarea>
        </div>
      </div> 
      <div class="row justify-content-center pb-5">
        <a class="px-3 py-2 boton" href="#">Actualizar</a>
      </div>    
    </div>
    
  </div>
  <div class="row" style="height:200px;">
  </div>
</div>

  