<app-navegacion></app-navegacion>
<!--<a routerLink="/perfil">Nombre Creador</a>
<a routerLink="/actualizar">Actualizar</a>
-->
<div class="container-fluid">
  <div class="row" style="height:100px; ">
    <a class="text-hide"  routerLink="/"></a>
  </div>
  <div class="row justify-content-center">
    <p class="letras" id="nombrePro">{{projects.detalle[0].nombreproyecto}}</p>
  </div>
  <div class="row justify-content-center" >
    <div class="col-7 contlogin" >
      <div class="row justify-content-center pt-5">
        <div class="col-10  contlogin">
          <p>Descripcion</p>
          <p>{{projects.detalle[0].descripcion}}</p>
        </div>
      </div> 
      <div class="row justify-content-center">
        <div class="col-10 contlogin">
          <p>Alcance</p>
          <p>{{projects.detalle[0].alcance}}</p>
        </div>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="col-2">
          <p>Atualizaciones</p>
        </div>
      </div>
      <div>
        <div class="row justify-content-center pt-3">
          <div class="col-10  contlogin">
            <p>Descripcion</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem facere doloribus error ut rerum sapiente, debitis fugit suscipit soluta at asperiores distinctio perspiciatis quae dolorum culpa cumque expedita libero voluptas?</p>
          </div>
        </div> 
        <div class="row justify-content-center pb-4">
          <div class="col-10 contlogin">
            <p>Alcance</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, quae tempora, magni, ducimus quas odio repudiandae illum unde laborum libero corporis. Impedit cumque minima placeat suscipit in ea, culpa nulla.</p>
          </div>
        </div>
      </div>      
      <div class="row justify-content-center pb-3">
        <div class="col-2">
          <a class="px-3 py-2 boton" href="#">Contacto</a>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-2">
            <p>Comentarios</p>
          </div>
      </div> 
      <div class="row justify-content-center pb-5">
        <div class="col-10 contlogin">
          <p>Aqui va el plugin</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height:200px;">
  </div>
</div>
  
  