<app-navegacion></app-navegacion>
<!--<a routerLink="/perfil">Nombre Creador</a>
<a routerLink="/actualizar">Actualizar</a>
-->
<div class="container-fluid">
  <div class="row" style="height:100px; ">
    <a class="text-hide"  routerLink="/"></a>
  </div>
  <div class="row justify-content-center">
    <p class="letras" id="nombrePro">{{projects.detalle[0].nombreproyecto}}</p>
  </div>
  <div class="row justify-content-center" >
    <div class="col-7 contlogin" >
      <div class="row justify-content-center pt-5">
        <div class="col-10  contlogin">
          <p>Descripcion</p>
          <p>{{projects.detalle[0].descripcion}}</p>
        </div>
      </div> 
      <div class="row justify-content-center">
        <div class="col-10 contlogin">
          <p>Alcance</p>
          <p>{{projects.detalle[0].alcance}}</p>
        </div>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="col-3">
          <p>Publicaciones/Entradas</p>
        </div>
      </div>
      <ng-container *ngFor="let publicacion of publicaciones.publicacion">
        <ng-container  *ngFor="let detallepu of publicaciones.detalle">
          <div *ngIf="publicacion.detallepublicacion_iddetallepublicacion == detallepu.iddetallepublicacion">
            <div class="row justify-content-center pt-3">
              <div class="col-10  contlogin">
                <h6>Version</h6>
                <p>{{detallepu.ver}}</p>
              </div>
            </div> 
            <div class="row justify-content-center pb-4">
              <div class="col-10 contlogin" >
                <h6>Resumen</h6>
                <a  class="link pt-3"[routerLink]="['/documentacion', projects.proyecto[0].idproyectos, publicacion.idpublicaciones, detallepu.iddetallepublicacion]"><p>{{detallepu.resumen}}</p></a>
                <h6>{{detallepu.fechapublicacion.substring(0,10)}}</h6>
              </div>
            </div>
          </div> 
      </ng-container>
    </ng-container>  
    <ng-container *ngIf="auth.isLoggedIn()">
      <div class="row justify-content-center pb-3" *ngIf="projects.proyecto[0].users_idusuarios==details.idusuarios">
        <div class="col-2">
          <a class="px-3 py-2 boton" [routerLink]="['/actualizar', projects.proyecto[0].idproyectos]">Agregar</a>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
  <div class="row" style="height:200px;">
  </div>
</div>
  
  