<app-navegacion></app-navegacion>
<!--<a routerLink="/perfil">Editar</a>
<p>
  editar-perfil works!
</p>-->
<div class="container-fluid">
  <div class="row" style="height:100px; ">
  </div>
  <div class="row justify-content-center"><h6 class="letras">Editar</h6></div>    
  <div class="row justify-content-center" >
    <div class="col-5 contlogin" >
      <div class="row" style="height:70px; ">
      </div>
      <div class="row justify-content-center pb-3">
        <div class="col-9 contlogin">
          <div class="row justify-content-center pt-5 pb-3">
            <div class="col-10">  
              <input class="form-control" id="nombre" placeholder="Nombres" [(ngModel)]="user.nombre">
            </div>
          </div>
          <div class="row justify-content-center pt-3 pb-3">
            <div class="col-10">
              <input class="form-control" id="apellido" placeholder="Apellidos" [(ngModel)]="user.apellidos">
            </div>
          </div>
          <div class="row justify-content-center pt-3 pb-3">
            <div class="col-10">
              <input type="email" class="form-control" id="correo" placeholder="Correo" [(ngModel)]="user.correo">
            </div>
          </div>
          <div class="row justify-content-center pt-3 pb-5">
            <div class="col-10">
              <input  class="form-control" id="celular" placeholder="Celular" [(ngModel)]="numero.number">
            </div>
          </div>
        </div>
      </div>    
      <div class="row justify-content-end">
        <div class="col-4">
          <a (click)="updateUser()" class="px-3 py-2 boton" routerLink="/editar">Editar</a>
        </div>
      </div>
      <div class="row" style="height:70px; ">
      </div>
    </div>
  </div>
  <div class="row" style="height:200px; ">
  </div>
</div>