<div class="container" id="contenedor">
  <div class="row h-30" id="fila">
    <div class="col-9 col-sm-9 col-lg-10" ><a routerLink="/"><img src="assets/icono.png" alt="" ></a> </div>
    <div class="col-2 col-sm-2 col-lg-1" *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" class="link"  routerLink="/login">Salir</a> </div>
    <div class="col-2 col-sm-2 col-lg-1" *ngIf="!auth.isLoggedIn()"><a class=" link"  routerLink="/registro">Registro</a> </div>
    <div class="col-1 col-sm-1 col-lg-1" *ngIf="!auth.isLoggedIn()"><a class=" link"  routerLink="/login">Login</a> </div>
    <div class="col-2 col-sm-2 col-lg-1" *ngIf="auth.isLoggedIn()"><a class=" link"   routerLink="/perfil">Perfil</a> </div>
</div>




