<app-navegacion></app-navegacion>
<!--<a routerLink="/CrearProyecto">Crear Proyecto</a>
<br>
<a routerLink="/editar">Editar Perfil</a>
<br>
<h1>Proyecto</h1>
<a routerLink="/actualizar">Actualizar</a>
<p>
  vista-perfil works!
</p>-->
<div class="container-fluid">
    <div class="row" style="height:100px; ">
      <a class="text-hide"  routerLink="/"></a>
    </div>
    <div class="row justify-content-center">
      <p class="letras" id="nombrePro">Perfil</p>
    </div>
    <div class="row justify-content-center" >
      <div class="col-5 contlogin" >
        <div class="row justify-content-center pt-5">
          <div class="col-10  contlogin">
            <p>{{details?.nombre}}</p>
          </div>
        </div> 
        <div class="row justify-content-center">
          <div class="col-10 contlogin">
            <p>{{details?.apellidos}}</p>
          </div>
        </div>
        <div class="row justify-content-center pb-3">
          <div class="col-10 contlogin">
            <p>{{details?.correo}}</p>
          </div>
        </div>   
        <div class="row pb-3">
          <div class="col-8 pl-5">
            <a class="px-3 py-2 boton" href="#">Crear Foro</a>
          </div>
          <div class="col-1 offset-1">
            <a class="px-3 py-2 boton" href="#">Editar</a>
          </div>
        </div>
        <div class="row justify-content-center pt-3">
          <div class="col-2">
            <p>Foros</p>
          </div>
        </div>
        <div>
          <div class="row justify-content-center pb-3">
            <div class="col-10  contlogin">
              <p>Mientrastanto esta esto aqui</p>
            </div>
          </div>
          <div class="row pb-5">
            <div class="col-8 pl-5">
              <a class="px-3 py-2 boton" href="#">Actualizar</a>
            </div>
            <div class="col-4 pl-5">
              <a class="px-3 py-2 boton" href="#">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height:200px;">
    </div>
  </div>