<app-navegacion></app-navegacion>
<!--<a routerLink="/CrearProyecto">Crear Proyecto</a>
<br>
<a routerLink="/editar">Editar Perfil</a>
<br>
<h1>Proyecto</h1>
<a routerLink="/actualizar">Actualizar</a>
<p>
  vista-perfil works!
</p>-->
<div class="container-fluid">
    <div class="row" style="height:100px; ">
      <a class="text-hide"  routerLink="/"></a>
    </div>
    <div class="row justify-content-center">
      <p class="letras" id="nombrePro">Perfil</p>
    </div>
    <div class="row justify-content-center" >
      <div class="col-6 contlogin" >
        <div class="row justify-content-center pt-5">
          <div class="col-10  contlogin">
            <p class="palabras2">{{details?.nombre}}</p>
          </div>
        </div> 
        <div class="row justify-content-center">
          <div class="col-10 contlogin">
            <p class="palabras2">{{details?.apellidos}}</p>
          </div>
        </div>
        <div class="row justify-content-center pb-3">
          <div class="col-10 contlogin">
            <p class="palabras2">{{details?.correo}}</p>
          </div>
        </div>   
        <div class="row pb-3">
          <div class="col-8 pl-5">
            <a class="px-3 py-2 link" routerLink="/CrearProyecto">Crear Proyecto</a>
          </div>
          <div class="col-1 offset-1">
            <a class="px-3 py-2 link" routerLink="/editar">Editar</a>
          </div>
        </div>
        <div class="row justify-content-center pt-5">
          <div class="col-12">
            <p class="text-center letras2">Proyectos</p>
          </div>
        </div>
          <div class="row justify-content-center pb-3">
            <div class="col-10">
              <div class="row justify-content-center pt-5" *ngFor="let project of projects2">
                  <div class="col-8" id="fila">
                    <h4 class="text-center  palabras">{{project.nombreproyecto}}</h4>
                  </div>
                  <div class="col-10" id="fila">
                    <a class="link pt-3"  routerLink="/"><p class="text-justify">{{project.descripcion}}</p></a>
                  </div>
                  <div class="col-10 pt-2" id="fila">
                      <h6 class="text-justify">categoria</h6>
                  </div>
              </div>
              <div class="row" style="height:80px;"></div>       
            </div>
          </div>
          <div class="row pb-5"></div>
      </div>
    </div>
    <div class="row" style="height:200px;">
    </div>
  </div>