<app-navegacion></app-navegacion>
<div class="container-fluid">
  <div class="row" style="height:200px;">

  </div>
 
  <div class="row justify-content-center" >
       <div class="col-4 contlogin" >
        <div class="row justify-content-center"><h6 class="letras">Login</h6></div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-8">
          <p class="palabras">Correo</p>
        </div>
        <div class="col-8">
          <input class="form-control" id="correo" type="email"  placeholder="Correo" name="correo"[(ngModel)] = "credentials.correo" required>
        </div>
      </div>
      <div class="row justify-content-center pb-4">
        <div class="col-8">
            <p class="palabras">Contraseña</p>
        </div>
        <div class="col-8">
            <input type="password" class="form-control" id="password" name="Password" placeholder="Password" [(ngModel)]="credentials.password" >
        </div>              
      </div>
      <div class="row justify-content-center pb-4">
          <a (click)="login()"  class="px-3 py-2 boton"routerLink="/login">Enviar</a>
      </div>

      <div class="row">
        <div class="col-6 pl-5">
          <p class="palabras">¿No tienes cuenta?</p>
        </div>
        <div class="col-1 ">
            <a class="link" routerLink="/registro">Registrarse</a>
        </div>
      </div>
      <div class="row">
          <div class="col-7 pl-5">
            <p class="palabras">¿No recuerdas tu conraseña?</p>
          </div>
          <div class="col-1">
              <a class="link" routerLink="/recuperar">Recuperar</a>
          </div>
        </div>
    </div>

  </div>
  <div class="row" style="height:200px;">
</div>
</div>
  



