<app-navegacion></app-navegacion>

    <div class="container" id="principal">
        <div class="row justify-content-center aling-item-center"><h6 class="letras">Foros</h6></div>
        <div class="row justify-content-center">
            <div class="col-10" id="fila">
                <div class="row" style="height:400px"></div>
                <div class="row justify-content-center">
                   
                </div>
        
        
    </div>
</div>
    <div class="row" style="height:200px; ">
        </div></div>
    








