#principal{

    position: relative;
    width: 60%;
    top: 100px;
    

}
#fila{

    background: rgba(255,255,255,0.5);
 

}
.letras{

    font: 500% serif;
    color:rgba(255,255,255,0.8);

}
.fondo{

    background: rgba(0,0,0);

}
.link{

	font:bold 90% Verdana;
	text-decoration: none;
    color: rgba(255,255,255,0.6);
    background:rgba(0, 0, 0);
	transition:background 1s;
}
.link:hover{

	background:white;
	color:rgba(8, 8, 8, 0.6);

}
