#principal{

    position: relative;
    width: 60%;
    top: 100px;
    

}
#fila{

    background: rgba(255,255,255,0.5);

}
.palabras{

    font:bold 150% serif;
    color: rgba(0, 0, 0,0.6);

}
.letras{

    font: 500% serif;
    color:rgba(0,0,0,0.8);

}
.fondo{

    background: rgba(0,0,0);

}
.link{

	font:bold 110% serif;
	text-decoration: none;
    color: rgba(0,0,0,0.6);
	transition:background 1s;
}
.link:hover{

	color:rgba(129, 129, 129, 0.4);

}
