<app-navegacion></app-navegacion>

<div class="container-fluid" id="principal">
    <div class="row justify-content-center aling-item-center">
        <h6 class="letras">Foros</h6>
    </div>
    <div class="row justify-content-center">
        <div class="col-12" id="fila">
            <div class="row justify-content-center pt-5" *ngFor="let project of projects.detalle">
                <div class="col-8" id="fila">
                    <h4 class="text-center pt-3 palabras">{{project.nombreproyecto}}</h4>
                </div>
                <div class="col-10 pt-3" id="fila">
                    <a [routerLink]="['/proyecto', project.iddetalleproyecto]" class="link pt-3" ><p class="text-justify">{{project.descripcion}}</p></a>
                </div>
            </div>
            <div class="row" style="height:80px;"></div>       
        </div>
    </div>
    <div class="row" style="height:200px;"></div>
</div>
    







