<app-navegacion></app-navegacion>

    <div class="container" id="principal">
        <div class="row justify-content-center aling-item-center"><h6 class="letras">Foros</h6></div>
        <div class="row justify-content-center">
            <div class="col-10" id="fila">
                <div class="row" style="height:50px"></div>
                <div class="row justify-content-center">
                    <div class="col-8  fondo">
                            <p>Nombre</p>
                    </div>
                    <div class="col-9 fondo link">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eligendi enim. Velit nostrum sapiente, harum, doloremque quibusdam corrupti temporibus voluptates, exercitationem rerum deserunt provident optio facere nisi obcaecati! Eaque, laborum.</p>
                        <a routerLink="proyecto">Proyecto</a>
                    </div>
                    <div class="col-8 fondo">
                            <p>Version</p>
                    </div>
                </div>
                <div class="row" style="height:50px"></div>
        </div>
        
    </div>
    








