<!--<a routerLink="/">Logo</a>
<br>
<a routerLink="/">Registrarse</a>
<p>
  registro works!
</p>-->

<div class="container-fluid">
  <div class="row" style="height:200px; ">
      <a class="text-hide"  routerLink="/"></a>
  </div>
  
  <div class="row justify-content-center" >
    <div class="col-8 contlogin" >
        <div class="row justify-content-center"><h6 class="letras">Registro</h6></div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input class="form-control" id="nombre" placeholder="Nombres">
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input class="form-control" id="apellido" placeholder="Apellidos">
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input class="form-control" id="email" placeholder="Correo">
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input type="number" class="form-control" id="telefono" placeholder="Telefono">
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-3">
        <div class="col-11">
          <input type="password" class="form-control" id="contraseña2" placeholder="Confirmar Contraseña">
        </div>
      </div>      
      <div class="row justify-content-center pb-4">
          <a class="px-3 py-2 boton" href="#">Registrarse</a>
      </div>
    </div>
  </div>
  <div class="row" style="height:200px; ">
  </div>
</div>
